* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.container {
  /* background-color: #fff2f4; */
  background-color: #EEFCFF;
  position: absolute;
  height: 100%;
  width: 100%;
}

.wrapper {
  background-image: url("./assets/Background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;
}
